click==8.0.4
colorama==0.4.5
flask==1.1.2
gunicorn==20.1.0
itsdangerous==2.0.1
jinja2==2.11.3
jinja2-time==0.2.0
markupsafe==2.0.1
pillow==9.2.0
--find-links https://download.pytorch.org/whl/torch_stable.html
pytorch==1.12.1
pytorch-lightning==1.9.0
torchmetrics==0.11.1
torchvision==0.13.1
werkzeug==2.0.3
